<div class="numbers__item col-lg-5">
  <div class="numbers__left">
    <img src="{{img}}" alt="The Best Designer in Our Company">
  </div>
  <div class="numbers__right">
    <div class="numbers__number">
      <p>
        <span data-from="0" data-to="{{count}}" data-dp="0" class="spincrement">
        </span>
        <span>{{number}}</span>
      </p>
    </div>
    <div class="numbers__descr">
      <p>{{dcr}}</p>
    </div>
  </div>
</div>