<div class="numbers__item col-lg-5">
  <div class="numbers__left">
    <img src="{{img}}" alt="img">
  </div>
  <div class="numbers__right ">
    <div class="numbers__number numbers__wrapper">
      <div>
        <span class="spincrement">{{count}}</span>
        <span>{{number}}</span> 
      </div>
    </div>
    <div class="numbers__descr">
      <p>{{dcr}}</p>
    </div>
  </div>
</div> 