.our-way__section {
  padding-top: 91px;
  padding-bottom: 157px;
  position: relative;
  .capabilities__head {
    margin-bottom: 86px;
    position: relative;
  }
  .cap-head {
    &__text {
      z-index: 3;
      position: relative;
      p {
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 83px;
        @include media-breakpoint-down(sm) {
          font-size: 19px;
          line-height: 25px;
          margin-bottom: 40px;
        }
      }
    }
    .decor-way {
      position: absolute;
      width: 83vw;
      height: 758px;
      top: 41%;
      left: 1%;
      z-index: 2;
      background-image: url(images/what-we-do/we-do-decor.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      @include media-breakpoint-down(sm) {
        display: none;
      }
      @include media-breakpoint-down(lg) {
        margin-bottom: 45px;
      }
    }
  }
}

.our-way {
  padding: 154px 24px 44px;
  position: relative;
  max-width: 347px;
  transition: 0.2s;
  background-color: #fff;
  z-index: 3;
  @include media-breakpoint-down(lg) {
    margin: 0 20px 84px 20px;
  }
  // @include media-breakpoint-down(md) {
  //   padding: 154px 15px 44px;
  // }
  @include media-breakpoint-down(sm) {
    padding: 154px 24px 44px;
    margin: 0 0 40px 0;
  }
  &__avatar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 53px;
    width: 80px;
    height: 80px;
    z-index: 3;
    transition: 0.2s;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__title {
    margin-bottom: 37px;
    z-index: 3;
    h5 {
      font-size: 24px;
    }
  }
  &__description {
    margin-bottom: 42px;
    text-align: center;
    z-index: 3;
    p {
      color: #404040;
      padding: 0 30px;
    }
  }
  &__process {
    position: relative;
    z-index: 3;
    h6 {
      font-size: 18px;
      margin-bottom: 13px;
    }
  }
  &__label {
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #d6d6d6;
    padding: 4px 9px;
    line-height: 21px;
    font-size: 14px;
    margin-bottom: 14px;
    z-index: 3;
  }
  &:hover {
    background-color: #fff;
    .our-way__avatar:before {
      opacity: 0;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    @include media-breakpoint-down(lg) {
      justify-content: center;
    }
    @include media-breakpoint-down(md) {
      justify-content: center;
    }
  }
}
