<header id="header" class="header opened">
  <div class="container">
    <div class="header__inner d-flex align-items-center justify-content-between">
      {{#each header}}
      <!-- logo -->
      <a href="/" class="logo d-flex list flex-center">
        <svg class="icon" width="91" height="34">
          <use xlink:href="#logo-white"></use>
        </svg>
      </a>
      <!-- /logo -->
  
      <!-- menu -->
      <div class="menu d-flex flex-column align-items-lg-end justify-content-lg-end">
        <div class="menu__head d-flex d-lg-none align-items-center justify-content-between">
          <a href="/" class="logo d-flex list flex-center">
            <svg class="icon" width="91" height="34">
              <use xlink:href="#logo-black"></use>  
            </svg>
          </a>
          <a href="#" class="menu__close">
            <svg class="icon" width="24" height="23">
              <use xlink:href="#close"></use>
            </svg>
          </a>
        </div>
        <div class="menu__content">
          <ul class="menu__list list d-flex flex-column flex-lg-row align-items-lg-center">
            {{#each menu}}
            <li class="menu__item">
              <a href="{{ link }}" class="menu__link animation-letters">{{ link_name }}</a>
            </li>
            {{/each}}
          </ul>
        </div>

        <ul class="social list d-flex d-lg-none align-items-center justify-content-between">
       {{#each social}}
          <li>
            <a href="{{ link }}" target="_blank">
              <svg class="icon" width="50" height="50">
                <use xlink:href="#{{ icon }}"></use>
              </svg>
            </a>
          </li>
          {{/each}} 
        </ul>
      </div>
      <!-- /menu -->
      <!-- burger -->
      <div class="burger-menu d-flex d-lg-none position-relative">
        <span class="burger-menu__line"></span>
      </div>
      <!-- /burger -->
      {{/each}}
    </div>
  </div>
</header>
