.portfolio-info {
  padding-top: 65px;
  padding-bottom: 60px;
  background-color: #f1f1f1;
  @include media-breakpoint-down(sm) {
    padding: 40px 0 42px;
  }

  &__text {
    @include media-breakpoint-down(sm) {
      margin: 0 0 34px 0;
    }
    h3 {
      color: #0d0d0d;
      @include dm-sans-medium;
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 52px;
      display: block;
      margin: 18px 0 32px;
      @include media-breakpoint-down(lg) {
        min-height: 160px;
      }
      @include media-breakpoint-only(md) {
        min-height: 120px;
      }
      @include media-breakpoint-down(sm) {
        min-height: 160px;
        margin: 18px 0 26px;
      }
      span {
        color: #fd3034;
      }
    }
  }
  &__image {
    position: relative;
    z-index: 2;
    .img-before {
      // }
      // &:before {
      //   content: url("images/portfolio/bg.svg");
      position: absolute;
      z-index: -1;
      overflow: hidden;
      @include media-breakpoint-down(xl) {
        max-height: 412px;
        left: -265px;
      }
      @include media-breakpoint-down(lg) {
        width: 100%;
        max-height: 300px;
        left: -265px;
      }
      @include media-breakpoint-down(md) {
        left: -265px;
        top: 0;
        width: 50%;
        max-height: 200px;
      }
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
    img {
      width: 100%;
    }
  }
}
.filter-box {
  position: relative;
  z-index: 10;
  .filter-box__plaha {
    position: absolute;
    width: 100vw;
    height: 194px;
    top: -1%;
    left: -50%;
    transform: translate(50%);
    background-color: #f1f1f1;
    @include media-breakpoint-down(md) {
      height: 242px;
    }
    @media (max-width: 370px) {
      height: 360px;
    }
  }
  &__show {
    p {
      color: #0d0d0d;
      @include dm-sans-medium;
      font-size: 24px;
    }
  }
  &__item {
    position: relative;
    &:before {
      color: #fa333c;
      position: absolute;
      font-size: 105px;
      height: 24px;
      line-height: 27px;
      left: 24px;
      top: 1px;
      content: "•";
    }
  }

  &__tabs {
    position: relative;
    .nav-link {
      @media (max-width: 600px) {
        margin: 0;
      }
    }
    ul {
      display: flex;
      margin: 0;
      list-style: none;
      padding: 0;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      @include media-breakpoint-up(xl) {
        justify-content: flex-start;
      }
      @include media-breakpoint-only(md) {
        justify-content: space-around;
      }
      @media (max-width: 370px) {
        justify-content: center;
      }
      li {
        margin-bottom: 25px;
        color: #0d0d0d;
        padding: 0 0 0 65px;
        @include dm-sans-medium;
        font-size: 24px;
        @include media-breakpoint-only(md) {
          margin: 0 0 30px 0;
          padding: 0 0 0 0;
        }
        @include media-breakpoint-down(sm) {
          padding: 0;
        }
        @media (max-width: 370px) {
          margin: 0 40px 25px 40px;
        }
        &:first-of-type {
          @include media-breakpoint-up(lg) {
            padding: 0 0 0 0;
          }
        }
        &:last-of-type {
          @include media-breakpoint-up(lg) {
            margin: 0 0 30px 0;
          }
          @media (max-width: 370px) {
            margin: 0 40px;
          }
        }
        a {
          min-width: 180px;
          background: #f7f7f7;
          background-color: rgba(255, 255, 255, 0.56);
          position: relative;
          color: #0d0d0d;
          font-size: 21px;
          font-weight: 500;
          padding: 15px 37px 15px 56px;
          transition: 0.3s;
          display: inline-block;
          @include dm-sans-medium;
          @media (max-width: 600px) {
            font-size: 16px;
            min-width: 156px;
          }
          img {
            position: absolute;
            width: 20px;
            height: 20px;
            left: 25px;
            top: 50%;
            transform: translate(0%, -50%);
          }
          &.active {
            background-color: #ffff;
            color: #fa333c;
            &:before {
              color: #fa333c;
            }
          }
          &:hover {
            background-color: #ffff;
            color: #fa333c;
            &:before {
              color: #fa333c;
            }
          }
        }
      }
    }
  }
  .body-tabs {
    width: 100%;
    overflow-x: hidden;
    padding: 137px 0 0 0;
    @include media-breakpoint-down(lg) {
      padding: 80px 0 0 0;
    }
    &__content {
      outline: none;
      position: relative;
      padding: 0;
      .tab-pane {
        &.fade {
          display: none;
          visibility: hidden;
        }
        &.active {
          visibility: visible;
          display: block;
          position: relative !important;
          top: 0;
        }
      }
    }
  }
}
.portfolio {
  position: relative;
  &__inner {
    transition: background-color 0.5s;
    background-color: #f1f1f1;
  }
}
