@font-face {
  font-family: "DM-Sans";
  src:
    url("../../fonts/DMSans-Regular.eot"),
    url("../../fonts/DMSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/DMSans-Regular.woff2") format("woff2"),
    url("../../fonts/DMSans-Regular.woff") format("woff"),
    url("../../fonts/DMSans-Regular.ttf") format("truetype"),
    url("../../fonts/DMSans-Regular.svg#DMSans-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DM-Sans";
  src:
    url("../../fonts/DMSans-Bold.eot"),
    url("../../fonts/DMSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/DMSans-Bold.woff2") format("woff2"),
    url("../../fonts/DMSans-Bold.woff") format("woff"),
    url("../../fonts/DMSans-Bold.ttf") format("truetype"),
    url("../../fonts/DMSans-Bold.svg#DMSans-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "DM-Sans";
  src:
    url("../../fonts/DMSans-Medium.eot"),
    url("../../fonts/DMSans-Medium.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/DMSans-Medium.woff2") format("woff2"),
    url("../../fonts/DMSans-Medium.woff") format("woff"),
    url("../../fonts/DMSans-Medium.ttf") format("truetype"),
    url("../../fonts/DMSans-Medium.svg#DMSans-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Lucida-Grande";
  src:
    url("../../fonts/LucidaGrande-Bold.eot"),
    url("../../fonts/LucidaGrande-Bold.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/LucidaGrande-Bold.woff2") format("woff2"),
    url("../../fonts/LucidaGrande-Bold.woff") format("woff"),
    url("../../fonts/LucidaGrande-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src:
    url("../../fonts/Poppins-Regular.eot"),
    url("../../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/Poppins-Regular.woff2") format("woff2"),
    url("../../fonts/Poppins-Regular.woff") format("woff"),
    url("../../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src:
    url("../../fonts/Poppins-Black.eot"),
    url("../../fonts/Poppins-Black.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/Poppins-Black.woff2") format("woff2"),
    url("../../fonts/Poppins-Black.woff") format("woff"),
    url("../../fonts/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src:
    url("../../fonts/Poppins-ExtraBold.eot"),
    url("../../fonts/Poppins-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/Poppins-ExtraBold.woff2") format("woff2"),
    url("../../fonts/Poppins-ExtraBold.woff") format("woff"),
    url("../../fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src:
    url("../../fonts/Poppins-Bold.eot"),
    url("../../fonts/Poppins-Bold.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/Poppins-Bold.woff2") format("woff2"),
    url("../../fonts/Poppins-Bold.woff") format("woff"),
    url("../../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
