.header-white {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f1f1f1;
  transition: all 0.3s;
  .logo {
    @include media-breakpoint-down(sm) {
      width: 90px;
      height: 34px;
    }
  }
  .menu {
    .js-opened {
      opacity: 1 !important;
    }
    .social {
      margin-top: auto;
      svg {
        width: 40px;
        // stroke: red;
        fill: red;
        transition: $transition-fast;
        &:hover {
          fill: theme-color("black");
        }
      }
    }
  }
  .burger-menu {
    &:after,
    &:before,
    &__line {
      background-color: theme-color("black");
    }
  }
}
