<html lang="en">
<head>
    {{> ../common/head }}
</head>
<body class="scroll_container portfolio">
<div id="bg" class="portfolio__inner margin-footer" data-scroll="color-group">
  {{!-- {{> ../common/header }}  --}}
  {{> ../common/header-white }} 
   <div class="portfolio-info">
        <div class="container">
          {{#with info-portfolio}}
              <div class="row justify-content-between">
                  <div class="col-lg-5">
                      <div class="portfolio-info__text">
                          <h3>{{title}} <span id="typed"></span></h3>
                          <p>{{text-info}}</p>
                      </div>
                  </div>
                  <div class="col-lg-6  col-xl-auto">
                      <div class="portfolio-info__image">
                          <img src="images/portfolio/bg.svg" alt="img" class="img-before">
                          <img src="{{img}}">
                      </div>
                  </div>
              </div>
          {{/with}}
        </div>
    </div> 
    <div class="filter-box">
        <div class="filter-box__plaha"></div> 
        <div class="container">
            <div class="filter-box__tabs">
                <ul class="nav nav-tabs row" id="myTab" role="tablist"> 
                    <li class="nav-item"> 
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#allworks" role="tab" data-name="allworks" aria-controls="All works" aria-selected="true">
                        <img src="images/portfolio/all.svg" alt="All works">
                            All works
                            </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#design" role="tab" data-name="design" aria-controls="Design" aria-selected="false">
                        <img src="images/portfolio/artist.svg" alt="Design">
                            Design</a> 
                    </li>
                    <div class="w-100 d-lg-none"></div> 
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#frontend" role="tab" data-name="frontend" aria-controls="Frontend" aria-selected="false">
                        <img src="images/portfolio/frontend.svg" alt="Frontend">
                            Frontend</a>
                    </li>   
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#backend" role="tab" data-name="backend" aria-controls="Backend" aria-selected="false">
                        <img src="images/portfolio/backend.svg" alt="Backend">  
                            Backend</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="body-tabs">
            <div class="body-tabs__content" id="myTabContent">
                <div class="tab-pane fade show active" id="allworks" role="tabpanel" aria-labelledby="home-tab">
                    <div class="container">
                      {{#each portfolio-item}}
                        {{> ../common/portfolio-section }}
                      {{/each}}
                    </div>
                </div>
                <div class="tab-pane fade" id="design" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="container">
                      {{#each portfolio-item-two}}
                        {{> ../common/portfolio-section }}
                      {{/each}}
                    </div>
                </div>
                <div class="tab-pane fade" id="frontend" role="tabpanel" aria-labelledby="contact-tab">.3..</div>
                <div class="tab-pane fade" id="backend" role="tabpanel" aria-labelledby="contact-tab">.4..</div>
            </div>
        </div>
    </div>
</div>
{{> ../common/footer }}
<!-- icons -->
{{> ../partials/icons }}
<!-- /icons -->
</body>
</html>
